/* font-family: 'Open Sans', sans-serif */

.navbar {

    background-color: #E83E8C;
    position: fixed;
    width: 100vw;
    z-index: 1;
    
    color: white;
    
 

}
.nav-link{
    color: white !important;
    opacity: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

